# JAX CUDA Release
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# Packages
absl-py
clu
dill
dm-haiku
flax
jax[cuda12_pip] 
jaxline
ml-collections
numpy
orbax-checkpoint
orbax-export
optax
tensorflow-cpu
tensorflow-datasets
