-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
absl-py
dill
dm-haiku
jax[cuda12_local]
jaxline @ git+https://github.com/mazhengcn/jaxline
ml-collections
numpy
optax
tensorflow-cpu
tensorflow-datasets
